/*This is the classes for the Pokemon Types*/

.normal {
    background-color: #A8A77A;
}

.fire {
    background-color: #EE8130;
}

.grass {
    background-color: #7AC74C;
}

.water {
    background-color: #6390F0;
}

.electric {
    background-color: #F7D02C;
}

.flying {
    background-color: #A98FF3;
}

.fighting {
    background-color: #C22E28;
}

.poison {
    background-color: #A33EA1;
}

.ground {
    background-color: #E2BF65;
}

.rock {
    background-color: #B6A136;
}

.psychic {
    background-color: #F95587;
}

.bug {
    background-color: #A6B91A;
}

.ghost {
    background-color: #735797;
}

.steel {
    background-color: #B7B7CE;
}

.dragon {
    background-color: #6F35FC;
}

.dark {
    background-color: #705746;
}

.fairy {
    background-color: #D685AD;
}

/*Layout of the App*/

* {
    font-size: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

/* Header */

.top {
    min-height: 15vh;
    background-color: #A9B8C9;
}

/* Center content */

.center {

    display: flex;
    background-color: #F6EEF0;
    min-height: 70vh;

}

.side {
    background-color: #BE4D62;
    flex: 1;
}

#app {
    background-color: #F6EEF0;
    flex: 9;
    padding: 1.5rem;
}

#create-form {
    text-align: center;
}

h1 {
    text-align: center;
    color: #5C4E4E;
    font-size: 3rem;
    margin: 0.5rem;
}

input,
select {
    background-color: #BE4D62;
    color: #F6EEF0;
    border: solid;
    border-color: #5C4E4E;
    border-width: 2px;
}


/*Input Fields*/

::placeholder {
    color: #F6EEF0;
}

